a, a:hover {
    color: #9C27B0;
}
small:hover {
    color: #9C27B0;
}
.portrait {
    max-width: 100px;
}
.credits {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.octicon {
    margin: 5px;
}
#navigation {
    font-weight: bold;
}
.link {
    font-weight: bold;
    text-decoration: underline;
}