a, a:hover {
    color: #563d7c;
}
small:hover {
    color: #563d7c;
}
.portrait {
    max-width: 100px;
}
.credits {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.octicon {
    margin: 5px;
}
#navigation {
    font-weight: bold;
}