<p>
My name is Nick, I'm a rising senior at the University of Michigan studying 
computer science through the College of Engineering. Besides computers, 
I'm interested in linguistics and foreign language, and I'm pursuing a minor in Spanish.
</p>
<p>
I'm currently spending the summer working for Palantir Technologies 
in Palo Alto, CA as a forward delployed engineering intern. 
I have previously worked at Quicken Loans in Detroit and for 
Yottabyte in Bloomfield Hills, and also dabble in development on my own.
</p>
<p>
Outside of school I've been involved with the MHacks sponsorship team and 
am also a captain of the University of Michigan Ski Team. I've been 
snowboarding for 10 years and am looking to get in to skiing. 
I also love music, particularly classic rock and black metal.
</p>