<b><a href="https://github.com/nickcharles/react-native-invertible-flatlist">react-native-invertible-flatlist</a></b>
  <p>DEPRECATED. An invertible FlatList for React Native.</p>

<b><a href="https://github.com/nickcharles/Spool">Spool</a></b>
  <p>Spool is a modular string formatting and manipulation library for C++, built to match the more robust string features provided by languages like Java and Python.</p>

<b><a href="{{ site.url }}/bluebird/">Bluebird</a></b>
  <p>Bluebird is a web application that analyzes a Twitter user's friends and followers. It compares the friends and followers and finds those that are not mutual. It will display the people that the user does not follow back, as well as the people the user follows who do not follow the user back. This is an alternative to most web applications that require login authorization.</p>
