<b><a href="https://github.com/nickcharles/Spool">Spool</a></b>
  <p>Spool is a modular string formatting and manipulation library for C++, built to match the more robust string features provided by languages like Java and Python.</p>

<b><a href="{{ site.url }}/bluebird/">Bluebird</a></b>
  <p>Bluebird is a web application that analyzes a Twitter user's friends and followers. It compares the friends and followers and finds those that are not mutual. It will display the people that the user does not follow back, as well as the people the user follows who do not follow the user back. This is an alternative to most web applications that require login authorization.</p>

<b>Cocktail</b>
  <p>Cocktail is a mobile application that suggests drinks based on what the user has lying around at home. The user selects alcoholic and non-alcoholic ingredients and shakes the device. Cocktail will display a drink with proper proportions, only choosing drinks for which the user has the ingredients. If the user cannot complete a drink, it will suggest drinks that can be created with the fewest additional ingredients.</p>

<b><a href="https://chrome.google.com/webstore/detail/xkcd-new-tab-page/cjakkpghoepnjecfepbmmfofbbjijmgh?hl=en-US">xkcd - Chrome New Tab Page</a></b>
  <p>A Chrome plugin that changes the default new tab page to display the most recent xkcd web comic. It comes with a browser that lets you cycle through any of the comics, and also displays the most recent What-If and the user's bookmarks.</p>

<b>DatFacts</b>
  <p>A PHP-based web application that sends random facts about a given subject to a mobile phone via SMS. DatFacts stands on an Amazon Web Services web server and scrapes Wikipedia for facts about a user determined subject. It then sends five of these facts using Twilio to the user's phone.</p>