<b>Palantir, <small>Forward Deployed Engineering Intern<br>
Palo Alto, CA</small></b>
  <p><a href="https://www.palantir.com/solutions/defense/">National Security.</a></p>

<b>Quicken Loans, <small>Software Engineering Intern<br>
Detroit, MI</small></b>
  <p>Front and back end web developer for One Reverse Mortgage, a Quicken Loans company. I developed an interface that allows non-technical and dynamic generation of landing pages for the company's website. I also created a PHP middle layer for a prototype website to allow user communication with a mortgage calculator API, and built a simple website to test a mortgage refinance calculator.</p>

<b>Yottabyte, <small>Quality Engineering Intern<br>
Bloomfield Hills, MI</small></b>
  <p>I tested the storage system web UI and diagnosed problems
  arising in every day functionality. I also performed alpha testing
  on a large scale virtualization and cloud computing platform.</p>

<b>Blizzard Ski and Snowboard School, <small>Snowboard Instructor<br>
Mt. Holly and Pine Knob</small></b>
  <p>I taught students from 8-18 years of age the fundamental skills
  and advanced techniques of alpine and freestyle snowboarding.
  Level 1 AASI certified instructor.</p>