<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="/resources/favicon-1.ico">
    <title>Nick C Morgan</title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Octicons -->
    <link href="/fonts/octicons/octicons.css" rel="stylesheet">
    <!-- Custom -->
    <link href="/css/custom.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <div id="header" class="page-header row text-center">
        <div class="col-xs-12 col-md-offset-1 col-md-2">
          <a href="http://nickcmorgan.com"><img src="/resources/portrait-1.png" class="portrait"></a>
        </div>
        <h1 class="col-xs-12 col-md-3">
          Nick C Morgan
        </h1>
        <h1 class="col-xs-12 col-md-5">
          <small>Student. Engineer. All around good guy.</small>
        </h1>
      </div>

      {{ content }}
      
    </div>

    <!-- jQuery and Bootstrap -->
    <script src="/js/jquery-1.11.3.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- Custom -->
    <script src="/js/custom.js"></script>
    <!-- Google Analytics -->
    <script src="/js/gAnalytics.js"></script>
  </body>
</html>