<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="resources/favicon.ico">
    <title>Nick C Morgan</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Octicons -->
    <link href="fonts/octicons/octicons.css" rel="stylesheet">
    <!-- Custom -->
    <link href="css/custom.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <div id="header" class="page-header row text-center">
        <p class="col-xs-12 col-md-offset-1 col-md-2"><img src="resources/portrait.png" class="portrait img-rounded"></p>
        <h1 class="col-xs-12 col-md-3">
          Nick C Morgan
        </h1>
        <h1 class="col-xs-12 col-md-5">
          <small>Student. Engineer. All around good guy.</small>
        </h1>
      </div>

      {{ content }}
      
    </div>

    <!-- Google Analytics -->
    <script src="js/gAnalytics.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
