<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="/resources/favicon.ico">
    <title>ncm - Tuning Linux</title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Octicons -->
    <link href="{{ site.url }}/fonts/octicons/octicons.css" rel="stylesheet">
    <!-- Custom -->
    <link href="{{ site.url }}/css/custom.css" rel="stylesheet">
  </head>

  {{ content }}
